#content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#fact-container {
  margin-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}